<div class="unit one-fifth hide-on-mobiles">
  <aside>
    <ul>
      <li class="{% if page.title == '博客' %}current{% endif %}">
        <a href="/blogs/">所有博客</a>
      </li>
    </ul>
    <h4>分类</h4>
    <ul>
      {% for category in site.categories %}
      <li class="{% if page.title == category }current{% endif %}">
      <a href="/blogs/{{category | first }}">{{ category | first }}({{ category | last | size }})</a> 
     </li>
      {% endfor %}
      <li>
        <a href="/docs/history/">History »</a>
      </li>
    </ul>
  </aside>
</div>
