<ul>
  <li class="{% if page.overview %}current{% endif %}">
    <a href="/">首页</a>
  </li>
  <li class="{% if page.url contains '/docs/' %}current{% endif %}">
    <a href="/blogs/">博客</a>
  </li>
  <li class="{% if page.author %}current{% endif %}">
    <a href="/news/">新闻</a>
  </li>
  <li class="{% if page.url contains '/community/' %}current{% endif %}">
    <a href="/community/">Community</a>
  </li>
  <li class="{% if page.url contains '/help/' %}current{% endif %}">
    <a href="/help/">Help</a>
  </li>
  <li>
    <a href="{{ site.repository }}">GitHub</a>
  </li>
</ul>
